@page "/about"

<PageTitle>
    关于
</PageTitle>

<div class="flex flex-col">
    <div>
        <h1 class="text-4xl page-starter">关于</h1>
    </div>

    <div class="py-4">
        <span class="italic">把字刻在石头上！(･’ω’･)</span>
    </div>

    <div class="flex flex-col p-2">
        <div class="flex flex-col p-2">
            <div class="pb-2">
                <h3 class="text-2xl">关于我</h3>
            </div>

            <div class="mx-4">
                <div class="my-4">
                    <p class="my-2">
                        正在明光村幼儿园附属研究生院攻读计算机科学与技术的硕士学位，研究AI编译器和异构编译器。
                    </p>

                    <p class="my-1">
                        一般在互联网上使用<span class="italic">初冬的朝阳</span>或者
                        <span class="italic">jackfiled</span>的名字活动。
                        <span class="line-through">（都是ICP备案过的人了，网名似乎没有太大的用处）</span>
                    </p>
                    <p class="my-1">
                        Fun Fact：<span class="italic">jackfiled</span>这个名字来自于2020年我使用链接在树莓派上的9英寸屏幕注册
                        GitHub的一时兴起，并没有任何特定的含义。
                        <span class="italic">初冬的朝阳</span>则是源自初中，具体典故已不可考。
                        至少到目前为止，还没有在要求唯一ID的平台遇见重名的情况。
                        <span class="line-through">我的真实名字似乎也是如此。</span>
                    </p>
                </div>

                <div class="my-4">
                    <p class="my-1">
                        主要是一个.NET程序员，目前也在尝试写一点Rust。
                        <span class="line-through">
                            总体上对于编程语言的态度是“大家都是我的翅膀.jpg”。
                        </span>
                    </p>
                    <p class="my-1">
                        写过一些前后端分离的项目，对于RISC-V相关的开发项目也颇感兴趣。
                    </p>
                    <p class="my-1">
                        常常因为现实的压力而写一些C/C++，现在就在和MLIR殊死搏斗。
                    </p>
                    <p class="my-1">
                        日常使用Arch Linux，KISS的原则深得我心。
                    </p>
                </div>

                <div class="my-2">
                    <p class="my-1">
                        100%社恐。日常生活是宅在电脑前面自言自语。
                    </p>
                    <p class="my-1">
                        兴趣活动是读书和看番，目前在玩戴森球计划和三角洲。2022年~2024年的时候沉迷于原神，现在偶尔还会登上去过一过剧情。
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-col p-2">
            <div class="pb-2">
                <h3 class="text-2xl">关于本站</h3>
            </div>

            <div class="mx-4">
                <div class="my-4">
                    <p class="my-2">
                        本站肇始于2021年下半年，在开始的两年中个人网站和博客是分别的两个网站，个人网站是裸HTML写的，博客是用
                        <Anchor Text="Hexo" Address="https://hexo.io" NewPage="@(true)"/>
                        的。
                    </p>
                </div>

                <div class="my-4">
                    <p class="my-2">
                        2024年，我们决定使用.NET技术完全重构两个网站，合二为一。虽然目前这个版本还是一个半成品，但是我们一定会努力的~（确信。
                    </p>
                </div>

                <div class="my-4">
                    <p class="my-2">
                        2025年，我们将使用的样式库从Bootstrap迁移到Tailwind CSS，将现代的前端技术同Blazor结合起来。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
