@page "/"

<PageTitle>
    Ricardo's Index
</PageTitle>

<div class="mx-20">
    <div class="grid grid-cols-3 py-4">
        <div class="col-span-3 md:col-span-1 p-5 p-lg-0">
            <img src="@Assets["images/avatar.png"]" alt="Ricardo's Avatar" class="h-auto max-w-full">
        </div>

        <div class="col-span-3 md:col-span-2">
            <div class="flex flex-col px-3 gap-y-3">
                <div class="">
                    <div class="text-3xl font-bold">初冬的朝阳 (Ricardo Ren)</div>
                </div>

                <div class="">
                    <p class="text-lg">a.k.a jackfiled</p>
                </div>

                <div class="">
                    <p class="text-lg italic">世界很大，时间很长。</p>
                </div>

                <div class="">
                    <p class="text-lg">
                        学过一些基础的计算机知识，略懂一些代码。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <p class="text-lg">恕我不能亲自为您沏茶（？），还是非常欢迎您能够来到我的主页。</p>
    </div>

    <div>
        <p class="text-lg py-1">
            如果您想四处看看，了解一下屏幕对面的人，可以在我的 <Anchor Address="/blog/" Text="博客"/> 看看。
            如果您对于明光村幼儿园某附属技校的计算机教学感兴趣，您可以移步到
            <Anchor Address="https://jackfiled.github.io/wiki/" Text="我的学习笔记"/>，
            <span class="fs-5 text-decoration-line-through">虽然这笔记我自己也木有看过。</span>
            如果您想批判一下我的代码，在
            <Anchor Address="https://github.com/jackfiled/" Text="Github"/> 和
            <Anchor Address="https://git.rrricardo.top/jackfiled/" Text="Gitea"/>
            都可以找到。
        </p>
        <p class="text-lg py-1">
            如果您真的很闲，也可以四处搜寻一下，也许存在着一些不为人知的彩蛋。
        </p>
    </div>
</div>

@code {

}
