.essay-background {
    position: relative;
    height: 80%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.essay-title {
    color: white;
    top: 43%;
    position: absolute;
    width: 100%;
}

.essay-content {
    font-size: 1rem;
    line-height: 1.6;
}

.essay-subtitle {
    display: flex;
    align-items: center;
}
