@page "/NotFound"

<div style="height: 100%">
	<div style="height: 2rem"></div>

    <div style="margin: 0 8%">
        <FluentCard>
            <FluentLabel Typo="@Typography.H4">
                前面的区域，以后再来探索吧，，
            </FluentLabel>
        </FluentCard>
    </div>
</div>

@code {

}
