@inherits LayoutComponentBase

@attribute [StreamRendering]

<main class="container mx-auto flex flex-col min-h-screen">
    <div class="grid grid-cols-3 mx-3">
        <div class="md:col-span-2 col-span-3 h-20 flex items-center">
            <a href="/blog/">
                <span class="text-blue-600 text-2xl">Ricardo's Blog</span>
            </a>
        </div>

        <div class="md:col-span-1 col-span-3 h-20 flex items-center">
            <div class="flex flex-row w-full px-2 gap-3 md:justify-center justify-end">
                <div>
                    <a href="/blog/archives/">
                        <span class="text-xl text-blue-600">归档</span>
                    </a>
                </div>
                <div>
                    <a href="/blog/tags/">
                        <span class="text-xl text-blue-600">标签</span>
                    </a>
                </div>
                <div>
                    <a href="/about/" target="_blank">
                        <span class="text-xl text-blue-600">关于</span>
                    </a>
                </div>
                <div>
                    <a href="/friends/" target="_blank">
                        <span class="text-xl text-blue-600">友链</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 py-2 flex-grow">
        @Body
    </div>

    <Foonter/>
</main>
