@inherits LayoutComponentBase

<main class="container">
    <div class="row" style="height: 80px">
        <div class="px-2 col-8">
            <a href="/" class="p-2">
                <h4>Ricardo's Index</h4>
            </a>
        </div>

        <div class="col-4 d-flex justify-content-around align-items-center">
            <a href="mailto://shicangjuner@outlook.com" class="p-2" target="_blank">
                <h5>E-mail</h5>
            </a>
        </div>
    </div>

    <div class="row px-4 center">
        <div class="py-2">
            @Body
        </div>
    </div>

    <Foonter/>
</main>
