@inherits LayoutComponentBase


<FluentLayout Style="min-height: 100vh">
    <FluentHeader Height="60">
        <a href="/">
            <FluentLabel Typo="@Typography.H3" Color="@Color.Lightweight">
                Ricardo's Index
            </FluentLabel>
        </a>
    </FluentHeader>

    <FluentBodyContent>
        <main style="height: 100%">
            @Body
        </main>
    </FluentBodyContent>
</FluentLayout>
