@inherits LayoutComponentBase

<main class="container mx-auto min-h-screen flex flex-col">
    <div class="grid grid-cols-4">
        <div class="px-2 md:col-span-3 col-span-4 h-20 flex items-center">
            <a href="/" class="text-2xl">
                <h4 class="text-blue-600">Ricardo's Index</h4>
            </a>
        </div>

        <div class="md:col-span-1 col-span-4 h-20 flex items-center">
            <div class="flex flex-row w-full px-2 md:justify-center justify-end text-xl gap-3">
                <Anchor
                    Address="/blog/"
                    Text="博客"
                    NewPage="@(true)"/>

                <Anchor
                    Address="/about/"
                    Text="关于"
                    NewPage="@(true)"/>

                <Anchor
                    Address="/friends"
                    Text="友链"
                    NewPage="@(true)"/>
            </div>
        </div>
    </div>

    <div class="px-4 mx-auto flex-grow">
        <div class="py-2">
            @Body
        </div>
    </div>

    <Foonter/>
</main>
