@page "/"

<div class="container">
    <div class="row py-4">
        <div class="col-4">
            <Image Src="images/avatar.png" Alt="Ricardo's Avatar"/>
        </div>

        <div class="col-8">
            <div class="container px-3">
                <div class="row">
                    <h4 class="fw-bold">初冬的朝阳 (Ricardo Ren)</h4>
                </div>

                <div class="row">
                    <p class="fs-5">a.k.a jackfiled</p>
                </div>

                <div class="row">
                    <p class="fs-5 fst-italic">世界很大，时间很长。</p>
                </div>

                <div class="row">
                    <p class="fs-5">
                        平平无奇的计算机科学与技术学徒，连微小的贡献都没做。
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 80px">
            <p class="fs-5">恕我不能亲自为您沏茶（？），还是非常欢迎您能够来到我的主页。</p>
        </div>

        <div class="row">
            <p class="fs-5">
                如果您想四处看看，了解一下屏幕对面的人，可以在我的 <a href="https://rrricardo.top/blog/">博客</a> 看看。
                如果您对于明光村幼儿园某附属技校的计算机教学感兴趣，您可以移步到
                <a href="https://jackfiled.github.io/wiki/">我的学习笔记</a>，
                <span class="fs-5 text-decoration-line-through">虽然这笔记我自己也木有看过。</span>
                如果您想批判一下我的代码，在 <a href="https://github.com/jackfiled" target="_blank">Github</a> 和
                <a href="https://git.rrricardo.top/jackfiled/" target="_blank">Gitea</a> 都可以看见。
            </p>
            <p class="fs-5">
                如果您真的很闲，也可以四处搜寻一下，也许存在着一些不为人知的彩蛋。
            </p>
        </div>

    </div>
</div>

@code {

}
