.index-container {
    background-color: #f0f2f5;
}

.avatar-image {
    margin: 25px;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.footer-zone {
    text-align: center;
}
