.tag-background {
    position: relative;
    height: 60%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.tag-title {
    top: 43%;
    position: absolute;
    width: 100%;
}

.tag-item {
    margin: 0.25rem auto;
}

.tag-essay-item {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 4px;
}

.tag-essay-item:hover {
    background-color: rgba(169, 169, 169, 0.22);
}
