@page "/blog/tags/"
@using YaeBlog.Core.Models
@using YaeBlog.Core.Services

@inject EssayContentService EssayContentInstance

<div class="container">
    <div class="row">
        <div class="col">
            @if (TagName is null)
            {
                <h1>标签</h1>
            }
            else
            {
                <h2>@(TagName)</h2>
            }
        </div>
    </div>

    <div class="row">
        <div class="col fst-italic py-4">
            在野外游荡的指针，走向未知的方向。
        </div>
    </div>

    @if (TagName is null)
    {
        <div>
            <ul>
                @foreach (KeyValuePair<string, int> pair in EssayContentInstance.Tags)
                {
                    <li class="p-2">
                        <a href="/blog/tags/?tagName=@(pair.Key)">
                            <div class="container fs-5">
                                <div class="row">
                                    <div class="col-auto">
                                        # @(pair.Key)
                                    </div>

                                    <div class="col-auto tag-count">
                                        @(pair.Value)
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <div class="container">
            @foreach (BlogEssay essay in EssayContentInstance.GetTag(TagName).OrderByDescending(e => e.PublishTime))
            {
                <EssayCard Essay="@essay"/>
            }
        </div>
    }
</div>

@code {
    [SupplyParameterFromQuery] public string? TagName { get; set; }


}
