<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="YaeBlog.styles.css"/>
    <link rel="icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="globals.css"/>
    <link rel="stylesheet" href="output.css"/>
    <HeadOutlet/>
</head>

<body>
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
