<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="YaeBlog.styles.css"/>
    <link rel="icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="_content/Blazor.Bootstrap/blazor.bootstrap.css"/>
    <link rel="stylesheet" href="globals.css"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>

<script src="_framework/blazor.web.js"></script>
<script src="bootstrap.bundle.min.js"></script>
<script src="clipboard.min.js"></script>
<script>
    const clipboard = new ClipboardJS('.btn');
</script>
</body>

</html>
