@using YaeBlog.Core.Abstractions
@using YaeBlog.Core.Models

@inject IEssayContentService Contents
@inject BlogOptions Options

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto p-4">
            <Image Src="images/avatar.png" Alt="Ricardo's avatar"/>
        </div>
    </div>

    <div class="row justify-content-center p-3">
        <div class="col-auto fs-4">
            “奇奇怪怪东西的聚合地”
        </div>
    </div>

    <div class="row justify-content-between px-2 py-1 fs-5">
        <div class="col-auto">
            文章
        </div>

        <div class="col-auto">
            <a href="/blog/archives">
                @(Contents.Essays.Count)
            </a>
        </div>
    </div>

    <div class="row justify-content-between px-2 py-1 fs-5">
        <div class="col-auto">
            标签
        </div>

        <div class="col-auto">
            <a href="/blog/tags">
                @(Contents.Tags.Count)
            </a>
        </div>
    </div>

    <div class="row justify-content-start fs-5" style="padding-top: 2em">
        <div class="col-auto">
            广而告之
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p style="text-indent: 2em">
                @(Options.Announcement)
            </p>
        </div>
    </div>
</div>
