@using System.Text.Encodings.Web
@using YaeBlog.Core.Models

<div class="container p-3">
    <div class="row fs-2 fw-bold py-2 essay-title">
        <a href="/blog/essays/@(Essay.FileName)" target="_blank">@(Essay.Title)</a>
    </div>

    <div class="row p-2 justify-content-start">
        <div class="col-auto fw-light">
            @(Essay.PublishTime.ToString("yyyy-MM-dd"))
        </div>

        @foreach (string key in Essay.Tags)
        {
            <div class="col-auto">
                <a href="/blog/tags/?tagName=@(UrlEncoder.Default.Encode(key))">
                    # @key
                </a>
            </div>
        }
    </div>

    <div class="row p-2">
        <div class="col">
            @(Essay.Description)
        </div>
    </div>

    <div class="row">
        <div class="col border-bottom">

        </div>
    </div>
</div>

@code {
    [Parameter]
    public required BlogEssay Essay { get; set; }
}
