<div class="row align-items-end text-center">
    <div class="row">
        <p class="fs-6">
            2021 - @(DateTimeOffset.Now.Year) © <a href="https://rrricardo.top" target="_blank">Ricardo Ren</a>，
            由 <a href="https://dotnet.microsoft.com/zh-cn/" target="_blank">.NET @(Environment.Version)</a> 驱动。
        </p>
    </div>

    <div class="row">
        <p class="fs-6">
            <a href="https://beian.miit.gov.cn" target="_blank">蜀ICP备2022004429号-1</a>
        </p>
    </div>
</div>
