<div class="flex flex-col text-center py-2">
    <div>
        <p class="text-md">
            2021 - @(DateTimeOffset.Now.Year) ©
            <Anchor Address="https://rrricardot.top" Text="Ricardo Ren"/>
            ，由
            <Anchor Address="https://dotnet.microsoft.com" Text="@DotnetVersion"/>
            驱动。
        </p>
        <p class="text-md">
            Build Commit #
            <Anchor Address="@BuildCommitUrl" Text="@BuildCommitId"/>
        </p>
    </div>

    <div>
        <p class="text-md">
            <Anchor Address="https://beian.miit.gov.cn" Text="蜀ICP备2022004429号-1" NewPage="true"/>
        </p>
    </div>
</div>

@code
{
    private string DotnetVersion => $".NET {Environment.Version}";

    private string BuildCommitId => Environment.GetEnvironmentVariable("COMMIT_ID") ?? "local_build";

    private string BuildCommitUrl => $"https://git.rrricardo.top/jackfiled/YaeBlog/commit/{BuildCommitId}";
}
