@using YaeBlog.Core.Models

@inject BlogOptions Options

<div class="row px-2 py-4 copyright border border-primary rounded-1 bg-primary-subtle">
    <div class="col">
        <div class="row p-1">
            <div class="col">
                文章作者：<a href="https://rrricardo.top" target="_blank">Ricardo Ren</a>
            </div>
        </div>

        <div class="row p-1">
            <div class="col">
                文章地址：
                <a href="/blog/essays/@(EssayAddress)" target="_blank">
                    @($"https://rrricardo.top/blog/essays/{EssayAddress}")
                </a>
            </div>
        </div>

        <div class="row p-1">
            <div class="col">
                版权声明：本博客所有文章除特别声明外，均采用
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
                许可协议，转载请注明来自
                <a href="https://rrricardo.top/blog/" target="_blank">Ricardo's Blog</a>。
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] public string? EssayAddress { get; set; }
}
